/****
*
* Table of contents:
* @font-face
*
*
*

/*********************************** @font-face ******************************************************/

@font-face{
    font-family:TradeGothic;
    src: url(../fonts/TradeGothicLTStd.eot); /* IE */
    src:local("TradeGothicLTStd"), url(../fonts/TRADEGOTHICLTSTD.OTF) format("truetype");
}

@font-face{
    font-family:TradeGothicBold;
    src: url(../fonts/TradeGothicLTStd-Bold.eot);
    src:local("TradeGothicLTStd-Bold"), url(../fonts/TRADEGOTHICLTSTD-BOLD.OTF) format("truetype");
}

@font-face{
    font-family:TradeGothicThin;
    src: url(../fonts/TradeGothicLTStd-Light.eot);
    src:local("TradeGothicLTStd-Light"), url(../fonts/TRADEGOTHICLTSTD-LIGHT.OTF) format("truetype");
}

@font-face{
    font-family:TradeGothicBoldCond20;
    src: url(../fonts/tradegothicltstd-bdcn20-webfont.eot);
    src:local("TradeGothicLTStd-BdCn20"), url(../fonts/TRADEGOTHICLTSTD-BDCN20.OTF) format("truetype");
}

@font-face{
    font-family:TradeGothicBoldTwo;
    src: url(../fonts/tradegothicltstd-bd2-webfont.eot);
    src:local("TradeGothicLTStd-Bd2"), url(../fonts/TradeGothicLTStd-Bd2.otf) format("truetype");
}

@font-face{
    font-family:TradeGothicCond18;
    src: url(../fonts/tradegothicltstd-cn18-webfont.eot);
    src:local("TradeGothicLTStd-Cn18.otf"), url(../fonts/TradeGothicLTStd-Cn18.otf) format("truetype");
}

/*********************************** STRUCTURAL ******************************************************/

body{
    font-family:TradeGothic,arial,helvetica, sans-serif;
    background-color: rgb(237, 238, 239);
    padding-bottom: 70px;
    color:rgb(38, 38, 38);
}

.alpha{
    padding-left:0;
}

.omega{
    padding-right:0;
}

#secondary-nav{
    padding:10px 0;
}

.btn-smart-response{
    background-color:rgb(255, 242, 0);
    border-radius: 0;
    color:rgb(38, 38, 38);
    font-size:20px;
    padding: 4px 9px;
}


ul.inline-list{
    list-style-type: none;
}

ul.inline-list li {
    float: left;
    margin-right: 10px;
}

#quickNav{
    overflow:hidden;
    margin-top:30px;
    padding-left:0;
    display:block;
}

#quickNav a,
a.button,
a.button:visited,
a.button:hover,
a.button span,
#mainNav li:hover a,
#mainNav li:hover a:visited,
#mainNav li:hover a:hover,
#mainNav li:hover a span,
#mainNav li:hover span.arrow,
#mainNav li.on a,
#mainNav li.on a:visited,
#mainNav li.on a:hover,
#mainNav li.on a span,
#mainNav li.on span.arrow,
.social_bar li a {
    background-image: url("../images/sprite_button.png");
    background-repeat: no-repeat;
}


#quickNav a {
    text-indent: -10000px;
    display: inline-block;
    width: 27px;
    height: 27px;
    background-position: -69px 3px;
}

#quickNav a.tsunamis {
    background-position: -103px 3px;
}

#quickNav a.fires {
    background-position: -138px 3px;
}

#quickNav a.hurricanes {
    background-position: -173px 3px;
}

.navbar{
    color:rgb(238, 255, 255);
}

p.pageTitle {
    font-size: 3.2em;
    font-family: TradeGothicCond18,arial,helvetica, sans-serif;
    float:left;
    margin-top:15px;
}

p.pageTitle span,
p.pageTitle span a {
    color: rgb(255, 241, 23);
}

p.pageTitle a,
p.pageTitle a,
p.pageTitle a:hover,
p.pageTitle a:visited,
p.pageTitle a:active{
    color:rgb(238, 255, 255);
    text-decoration:none;
}

#site-search-container{
    line-height:1px;
}

.glyphicon-search {
    position: absolute;
    right: 0;
    padding: 12px 27px;
    background-color:transparent;
    border:none;
}

.glyphicon-search:focus,
.glyphicon-search:active{
    border:none;
    outline:none;
}

#site-search{
    background-color:transparent;
    border-radius: 0;
    color: rgb(238, 255, 255);
}

#utility-links{
    margin-top:10px;
    padding-left:15px;
}

#utility-links > li{
    float:left;
}

#utility-links > li >  .utility-link,
#utility-links > li >  .utility-link:hover,
#utility-links > li >  .utility-link:visited,
#utility-links > li >  .utility-link:active{
    color:rgb(213, 213, 213);
    padding-left:0;

    padding-top:15px;
    font-size:18px;
}


#utility-links > li > .utility-link:hover{
    background-color:transparent;
}

#utility-links > li > button{
    width:80px;
    height:30px;
}

#footer{
    background-color:rgb(210, 211, 213);
    width: 100%;
    height:auto;
}

.footer-list-item{
    padding-top:10px;
}

.footer-list-item:last-child{
    border-right:none;
}

.footer-links,
.footer-links:hover,
.footer-links:visited,
.footer-links:active{
    font-size:14px;
    color:rgb(38, 38, 38);
    text-transform:capitalize;
    background-color:transparent;
}

.nav > li > a.footer-links:hover,
.nav > li > a.footer-links:focus {
    background-color:transparent;
}

.navbar-wrapper {
    background-color:rgb(38, 38, 38);
    width:100%;
    margin-top:0;
}

.navbar-wrapper .container {
    border-radius:0;
}

.navbar-wrapper .navbar {
    height:110px;
    border-radius:0;
    padding-top:20px;
}

h2{
    font-size: 23px;
    color:rgb(38, 38, 38);
    text-transform: uppercase;
}

.carousel{
    margin-bottom:0;
}


.carousel,
.carousel .item,
.carousel-inner > .item > img {
    height: 445px;
}

.marketing{
    position:relative;
    padding-left: 2%;

}

.marketing .col-lg-4{
    text-align: left;
}

.marketing .col-lg-4 p{
    font-size:17px;
    margin-left:0;
}

.marketing .col-lg-4 h2{
    background-image:url(../images/sprite-icons.png);
    background-repeat: no-repeat;
    background-position:left -530px;
    padding:15px 0 5px 90px;
}

.marketing .col-lg-4 h2.organization{
    background-position:left -259px;
}

.marketing .col-lg-4 h2.donate{
    background-position:left top;
}

#how-it-works{
    position: absolute;
    left: 0;
    top: -41px;
    background-color: rgb(237, 238, 239);
    width: 230px;
    height: 44px;
    z-index:2;
}

#how-it-works p{
    position:absolute;
    left:10%;
    top:20%;
    font-size:25px;
    text-transform: capitalize;
}

/*********************************** INSIDE PAGES ***********************************************/
.inside #content{
    background-color:rgb(237, 238, 239);
}

#organizationPane .table th{
    font-size:16px;
}

#organizationPane .table td{
    font-size:18px;
}

#organizationPane .table li span.text{
    width:175px;
    display:inline-block;
}

.inside aside table > thead > tr > th{
    background-color:transparent;
    border-top:none;
    border-bottom:none;
    width:50%;
}

.inside aside table > thead > tr > th:first-child,
.inside aside table > tbody > tr > td:first-child{
    border-right:1px solid rgb(237, 238, 239);
}

.inside aside table > tbody > tr > td{
    border-top:none;
}

.inside aside table > tr > th,
.inside aside table > tr > td{
    font-size:15px;
}

ul.services li{
    margin-bottom:20px;
    position:relative;
}

ul.services li.margin-none{
    margin-bottom:0;
}

.disasters h3{
    margin:0;
    margin-bottom:5px;
    text-transform:uppercase;
    color:rgb(42, 168, 238);
    font-size:18px;
}

.disaster{

}

.disasters p{
    line-height:22px;
}

.disasters ul{
    list-style-type:none;
    padding-left:0;
}

.disaster .utilities{
    position:absolute;
    bottom:-8px;
    left:43%;
}


/*********************************** D3 CHARTS ***********************************************/


.chart{
    width:95px;
    background-color:rgb(187, 187, 187);
    position:absolute;
    right:0;
}

.chart div {
    font: 10px sans-serif;
    background-color: rgb(124, 124, 124);
    text-align: right;
    padding: 0;
    margin: 0;
    color: white;
    height:17px;
    line-height:17px;
    padding-right:4px;
    box-sizing:border-box;
}


/*********************************** RULES ***********************************************/

.medium-grey{
    background-color:rgb(77, 77, 77);
}

.border-top{
    border-top: 2px solid rgb(255, 255, 255);
}

.align-left{
    text-align: left;
}

.align-center{
    text-align: center;
}
.padding{
    padding:10px;
    box-sizing:border-box;
}

.padding-none{
    padding:0;
}


.margin-none{
    margin:0;
}

.margin-bottom{
    margin-bottom:10px;
}

.margin-bottom-5{
    margin-bottom:5px;
}

.margin-bottom-20{
    margin-bottom:20px;
}


/*********************************** BREAD CRUMBS ***********************************************/

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: ">";
    font-family:TradeGothic;
}

.breadcrumb > li.active {
    font-family:TradeGothicBold;
}


/*********************************** FORMS ***********************************************/

.form-horizontal .form-group{
    margin:0;
    padding:0;
}


legend{
    border:none;
    font-size:16px;
    color:rgb(237, 238, 239);
    margin:0;
}

fieldset{
    box-sizing:border-box;
    padding:0;
}

label{
    color:rgb(255, 255, 255);
    font-size:14px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 2px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}


.styled-select {
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: url(../images/sprite-icons.png) no-repeat 46px -625px rgb(248, 248, 248);
}

.styled-select select {
    background: transparent;
    width:100%;
    height:38px;
    padding: 9px 12px;
    font-size: 18px;
    line-height: 24px;
    border: 0;
    border-radius: 0;
    position:relative;
    -webkit-appearance: none;
    color:rgb(122, 122, 122);
    box-sizing:border-box;
}

/*********************************** TABS ******************************************************/

.tab:after {
    content:"";
    position:absolute;
    background-color: rgb(237, 238, 239);
    top:0;
    right:-25px;
    bottom: -2px;
    width: 50px;
    -webkit-transform: skew(40deg);
    -moz-transform: skew(40deg);
    -ms-transform: skew(40deg);
    transform: skew(40deg);
}

.parallelogram{
    width:225px;
    background-color:rgb(42, 168, 238);
    margin-right:3px;
    position:relative;
    /* Skew */
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);

}

.parallelogram.active{
    margin-right:5px;
}

.parallelogram:first-child:before{
    /* Un-Skew */
    content:"";
    position:absolute;
    background-color:rgb(42, 168, 238);
    top:0;
    left: -5px;
    bottom: 0;
    width: 24px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
}

.parallelogram.active,
.parallelogram.active:first-child:before{
    background-color:rgb(255, 241, 0);
    border:none;
}


aside .parallelogram{
    width:48%;
    background-color:rgb(218, 218, 218);
}

aside .parallelogram.active{
    width:48%;
    margin-right:3px;
}

aside .parallelogram:first-child:before{
    background-color:rgb(218, 218, 218);
}

aside .parallelogram.active,
aside .parallelogram.active:first-child:before{
    background-color:rgb(42, 168, 238);
}

aside .nav-tabs > li > a,
aside .nav-tabs > li > a:visited,
aside .nav-tabs > li > a:hover {
    font-size:16px;
}

.nav-tabs{
    border:none;
    margin-left:4px;
}

.nav-tabs > li > a,
.nav-tabs > li > a:visited,
.nav-tabs > li > a:hover{
    color:rgb(237, 238, 239);
    font-size:19px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
    background-color:transparent;
    line-height: 7px;
    border:none;
    padding-top:15px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:visited,
.nav-tabs > li.active > a:hover{
    border:none;
    background-color:transparent;
}


.breadcrumb{
    background-color:transparent;
    margin:20px 0 10px 0;
    padding:0;
}


.table,
.table th{
    text-align:center;
}

.table th{
    font-weight:bold;
    font-size:14px;
    text-transform: capitalize;
    background-color: rgb(217, 218, 218);
}

.table td{
    font-size:15px;
}

.table td ul{
    list-style-type: none;
    margin-left:10px;
    padding-left:0;
    padding-right:10px;
}

.table td ul li{
    text-transform: capitalize;
}

.table .btn{
    font-size:20px;
    line-height:20px;
    padding: 5px 0 0 0;
    width: 90%;
}


.table > tbody > tr > td, .table > tfoot > tr > td {
    padding:10px;
}

.table > tbody > tr > td.padding-none{
    padding:0;
    padding-top:10px;
}

.profile-data .panel-group .panel,
.profile-data .panel-default > .panel-heading + .panel-collapse .panel-body,
.profile-data .panel-default > .panel-heading{
    border:none;
    background-color:transparent;
    padding:0;
}

.profile-data .panel-title{
    text-align:center;
}

.profile-data .panel-title > a {
    color: rgb(66, 139, 202);
}


.learn-more{
    margin-top:35px;
}

.learn-more a{
    color:rgb(39, 38, 38);
    font-size:19px;
}

/*********************************** MEDIA QUERIES ******************************************************/

@media (max-width:767px){
    p.pageTitle{
        font-size: 3em;
    }
    #quickNav{
        display:none;
    }
}

@media (min-width: 768px){

    #utility-links{
        padding-left:0;
    }

    #utility-links > li >  .utility-link,
    #utility-links > li >  .utility-link:hover,
    #utility-links > li >  .utility-link:visited,
    #utility-links > li >  .utility-link:active{
        color:rgb(213, 213, 213);
        padding-left:0;

        padding-top:15px;
        font-size:18px;
    }

    #footer{
        position: fixed;
        bottom: 0;
        z-index: 15;
    }

    .nav-justified {
        max-height: 52px;
    }

    .footer-list-item{
        border-right:2px solid rgb(237, 238, 239);
    }

    #pageCover{
        height:500px;
    }

}


@media (max-width: 991px){
    #utility-links > li >  .utility-link{
        font-size:13px;
    }

    .btn-smart-response {
        font-size: 15px;
    }
}


@media (min-width: 1190px){
    #footer{
        height: 60px;
    }

    .footer-links,
    .footer-links:hover,
    .footer-links:visited,
    .footer-links:active{
        font-size:23px;
    }

    #pageCover{
        height:700px;
    }

}

#pageCover{
    position:relative;
    height:500px;
    background-color:rgb(0,0,0);
    border-radius:0;
}

#pageCover .progress-bar{
    width:50%;
    height:20px;
    position:absolute;
    top:40%;
    left:25%;
    border-radius:3px;
}

.carouselCaption{
    position:absolute;
    text-align:center;
    width:70%;
    left:30%;
    margin-left:-15%;
    top:47%;
    z-index:2;
}
.carouselCaption h1{
    color:rgb(240,240,240);
    font-size: 2.1em;
    text-transform:none;
    font-family:TradeGothicLTStd-BdCn20;
}

.home-search-container{
    background-color:rgb(0,0,0);
    padding:9px 0 9px 26px;
    /*width: 53% !important;*/
}

.home-search-container select{
    margin-right:5px;
    border:0;
    -webkit-border-top-left-radius:0 !important;
    border-top-left-radius:0 !important;

}

.home-search-container button{
    width:90%
}

.submit-container{
    width:30% !important;
}

/*********************************** VENDOR OVERRIDES ******************************************************/

.flexslider{
    margin:0;
    border:none;
    position:relative;
    max-height:432px;
}

.flexslider .slides{
    min-height:500px;   
}


.flex-control-paging{
    display:none;
}

.flex-direction-nav{

}

.flex-direction-nav .flex-next {
    right: 0;
}

